.banner .container .card {
    margin-top: 12%;
    background-color: #00000080;
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: #39ff14;
    align-items: center;
    border-radius: 4px;
    padding-bottom: 3%;
  }
  
  .card {
    display: flex;
    justify-content: space-around;
  }
  
  .card h2 {
    font-size: 30px;
  }
  
  .card h4 {
    font-size: 16px;
  }
  
  button {
    cursor: pointer;
  }
  
  footer{
    position: absolute;
  }