/* global */

*{
    box-sizing: border-box;
}

body{
    background-image: url("https://static.wikia.nocookie.net/cb24bff1-b098-4632-81be-cd281164d1ff");
    background-size: contain;
    margin: 0;
}

html{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

a{
    color: rgb(73, 73, 255);
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 25px;
    font-weight: bolder;
}


/* HOME */

.container{
    margin: 20px;
    padding: 5px;
}

.subforum{
    margin-top: 20px;
    background-color: #252525bd;
    padding: 10px;
    border-radius: 5px;
}

.subforum_row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum_coluna{
    padding: 10px;
    margin: 4px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum_icone{
    font-size: 45px;
}

/* NavBar */

header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navegacao{
    background-color: #0000003a;
    padding: 10px;
    width: 65%;
    display: inline-block;
    max-height: 80px;
    margin-right: 10px;
}

.nav_lista{
    list-style: none;
    overflow: hidden;
}
.nav_iten a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.nav_iten a:hover{
    background-color: #7a1ecf;
    box-shadow: 1px 2px 3px #000;
}

.fechar_lista{
    font-size: 60px;
    float: left;
    cursor: pointer;
}

.fechar{
    display: none;
}

.icone_barra{
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.brand{
    font-size: 60px;
    display: inline-block;
}

/* Barra de Persquisa */

.barra_pesquisa{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.barra_pesquisa select{
    padding: 10px;
}

.barra_pesquisa input{
    padding: 10px;
}

.barra_pesquisa button{
    padding: 10px;
    background-color: white;
    color: #000;
}

.barra_pesquisa button:hover{
    background-color: #252525;
    color: white;
    box-shadow: 1px 2px 3px blueviolet;
}

.forum_info{
    padding: 20px;
    background-color: #252525;
}

.graf{
    font-size: 20px;
    font-weight: bold;
}

/* Footer */

footer{
    padding: 20px;
    background-color: #7a1fcf;
    display: flex;
    justify-content: space-between;
}

footer img{
    height: 10vh;
}
/* STATUS FORUM */

.body_status{
    background-image: url('../../public/assets/imgs/bg_galaxy.jpg');
    background-size: contain;
}

.table_head{
    display: flex;
}

.table_head div{
   padding: 20px;
   margin: 2px;
   background-color: #252525bd;
   font-weight: bold; 
}

.table_head .status{
    flex: 20%;
}

.table_head .assunto{
    flex: 60%;
}

.table_head .respostas{
    flex: 20%;
}

/* Table body */

.table_row{
    display: flex;
}

.table_row .status, .table_row .assunto, .table_row .respostas{
    padding: 20px;
    margin: 2px;
    background-color: #252525;
}

.table_row .status{
    flex: 20%;
    font-size: 30px;
    text-align: center;
}

.table_row .assunto{
    flex: 60%;
}

.table_row .respostas{
    flex: 20%;
}