
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../../public/assets/imgs/bg_galaxy.jpg);
    background-size: cover;
}

.jogadores{
    display: flex;
    justify-content: space-around;
    font-size: 300%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    color: #39ff14;
    margin-bottom: -2%;
    margin-top: 2%;
}

.player{
    background-color: #252525bd;
    padding: 1%;
    border-radius: 10%;
}

.container{
    margin: 0%;
    padding: 3%;
    display: flex;
    justify-content: space-around;
}

.formato{
    margin: 1%;
    padding: 2%;
    background-color: black;
    color: #39ff14;
    border: solid gray;
    border-style: ridge;
    border-width: 20px;
    font-size: 1100%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

.form{
    display: flex;
    background-color: #252525bd;
    padding: 2%;
    justify-content: center;
}

.dados select{
    padding: 7%;
    color: #39ff14;
    background-color: black;
    margin: 2%;
}

.dados input{
    padding: 2%;
    color: #39ff14;
    background-color: black;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 200%;
}
