
*{
    box-sizing: border-box;
}

/* ------------------------------------CONTADOR---------------------------------------------------------- */
.body_cont{
    margin: 0;
    background-image: url("../../assets/imgs/bg_satellar.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.jogadores{
    display: flex;
    justify-content: space-around;
    font-size: 300%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    color: #39ff14;
    margin-bottom: -2%;
    margin-top: 2%;
}

.player{
    background-color: #252525bd;
    padding: 1%;
    border-radius: 10%;
}

.container{
    margin: 0%;
    padding: 3%;
    display: flex;
    justify-content: space-around;
}

.formato{
    margin: 1%;
    padding: 2%;
    background-color: black;
    color: #39ff14;
    border: solid gray;
    border-style: ridge;
    border-width: 20px;
    font-size: 1100%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

.fundo{
    display: flex;
    width: 30vw;
    justify-content: center;
}

/* ------------------------------------FORMULARIO---------------------------------------------------------- */

.form{
    display: flex;
    background-color: #252525bd;
    padding: 2%;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.dados select{
    padding: 2%;
    color: #39ff14;
    font-size: 200%;
    background-color: black;
    margin: 2%;
    border: solid #39ff14;
    border-width: 100%;   
}

.dados input{
    padding: 2%;
    color: #39ff14;
    background-color: black;
    border: solid #39ff14;
    border-width: 100%;   
    font-family: 'Chakra Petch', sans-serif;
    font-size: 200%;
    width: 60%;
}

.red {
    font-size: 200%;
    font-weight: bolder;
    padding-left: 30%;
    padding-right: 30%;
    background-color: black;
    color: #39ff14;
    border: solid #39ff14;
    border-style: ridge 2%;
}

.red:hover {
    background-color: red;
    color: black;
    border: red;
    border: solid red;
    border-style: ridge 2%;
}

.green{
    font-size: 200%;
    font-weight: bolder;
    padding-left: 22%;
    padding-right: 22%;
    background-color: black;
    color: #39ff14;
    border: solid #39ff14;
    border-style: ridge 2%;
}

.green:hover{
    background-color: green;
    color: black;
    border: solid green;
    border-style: ridge 2%;
}

/* ------------------------------------REGISTRO---------------------------------------------------------- */

.conter_registro {
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #252525bd;
    padding-bottom: 2%;
}

.titulo_registro{
    margin-left: 10%;
    margin-bottom: 2%;
    font-size: 200%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    color: #39ff14;
    padding-top: 2%;
}

.historico {
    color: #39ff14;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.reg1{
    color: #39ff14;
    font-size: 70%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}
.reg2{
    color: #39ff14;
    margin-left: 40%;
    font-size: 70%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;   
}

/* ------------------------------------ANALYTCS---------------------------------------------------------- */

.analytcs{
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #252525bd;
    font-size: 200%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

.status{
    margin-left: 30%;
}